@import "~bootstrap/scss/bootstrap";

@import "partials/_variables";
@import "partials/_layout";
@import "partials/_navbar";
@import "partials/_spinner";
@import "partials/_card";
@import "partials/_error";
@import "partials/_detail";
@import "partials/_contact";

