.contact-form {
    background: $white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;    
    color: $black;
    padding: 1.5rem;
    
    &__button {
        background: $dark-cyan !important;
        border: 1px solid $deep-cyan  !important;

        &:active:focus    {
            background: $dark-cyan-hover !important;
            color: $white !important;
            border: 1px solid $deep-cyan !important;
        }
        &:hover,
        &:focus,
        &.focus {
            background: $dark-cyan-hover !important;
            color: $white !important;
            border: 1px solid $deep-cyan !important;
        }
      
        &:active,
        &.active,
        &.disabled,
        &:disabled {
            background: $dark-cyan-hover !important;
            color: $white !important;
            border: 1px solid $deep-cyan !important;
      
          &:focus,
          &.focus {
            background: $dark-cyan-hover !important;
            color: $white !important;
            border: 1px solid $deep-cyan !important;
          }
        }
    }
}       
