body {
	background: $grey;
    padding: 0; 
    margin: 0;
}

.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content-wrap {
	flex: 1;
}

.footer {
	color: $white;
	background-color: $black;
	padding-top: 1em;
	position: relative;
	width: 100%;
	bottom: 0;
}

.breadcrumb {
	background: $white;
}
.breadcrumb-item {
	+ {
		.breadcrumb-item {
			&::before {
				content: ">";
			}
		}
	}
}
.breadcrumb-item.active {
	color: $deep-cyan;
}
